p{
    font: 24px;
     font-family:'monospace', Courier, monospace;
  }
  .Header {
column-count: 2;
  }
  ul.navbar {
        list-style-type: none;
        margin: 0;
        padding: 0.0025rem;
        background-color: #fffffb;
        overflow: hidden;
        display: block;
      }
      h1{
        color:#A54C00;
        font-family: poppins;
        font-weight: 150;
      }
  h2{
    color:#0b2457;
    font-family: monospace;
    font-weight: 200;
  }
  h3{
    color: #A54C00;
    font-family: monospace;
    font-size: 24px;
  }
  #heroGrid1 {
  
  }
  img.logo{
width: 20%;
  }
  .HeroGrid {
    display: grid;
    background-color: #ffffff;
    height: 400px;
    grid-template-columns: 1fr 2fr;
    position: center;
    padding-bottom: 5.5rem;
  }
  .profilecontent{
    padding: 50px;
    text-align: justify;
    line-height: 30px;
    color: #0b2457;
  }
  img.profilepics{
      width: 75%;
      padding-left: 1rem;
      border-radius: 60px 0px;
  }
  #Hello {
    font-size: 32px;
    padding: 2rem;
    font-weight: regular;
    text-align: start;
  }
  #Stanley {
    font-size: 76px;
    font-weight: regular;
  }
  .aboutme{
    padding-left: 1rem;
  }
  .skills{
    padding: 7rem;
    padding-left: 1rem;
    background-color: #f5f4f0;
    color:#ffffff
  }
  .top{
    grid-area: topRow;
  }
      ul.navbar li {
        float: right;
        margin: 20px;
      }
  .logo {
    width: fit-content;
  }
      ul.navbar li a {
        display: block;
        color: #A54C00;
        text-align:justify;
        padding: 5px 30px;
        text-decoration: none;
      }
  ul.navbar li a:hover {
        background-color: #ddd;
  }
  /* ul.skillsTools {
    color: #32312f;
    line-height: 2rem;
    column-count: 2;
    font-weight:regular;
    padding: 1rem;
    list-style-type:circle;
    max-width: 600px;
  } */
  .button {
    border: none;
    background-color:#0b2457;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2px 1px;
    cursor: pointer;
  }
  button:hover {
    background-color:#06132d
  }
  ul.Footer {
    column-count: 3;
    color:#A54C00;
    line-height: 2rem;
    padding: 5rem;
    background: #f5f4f0;
    display: block;
    margin-top: 5rem;
  }
  .list-item-no-bullet {
    list-style-type: none;
    text-decoration:none;
  }
  a {
    color:#32312f;            /* sets the text color */
    text-decoration: none;   /* removes the underline */
  }
  .workGrid {
    max-width: 95%;
    margin: 0 auto; /* centers the container horizontally */
    padding-bottom: 3%;
  }  
  .workGridimg {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
  }
  .resumeImg1{
    padding: 5%;
    max-width: 95%;
    margin: 0 auto; /* centers the container horizontally */
  }
  img.resumeImg{
    max-width: 90%;
    height:fit-content;
    display: block;
    margin: 0 auto;
  }
  @media screen and (max-width: 600px) {
    .HeroGrid {
        display: block; /* Change display to block */
        background-color: #ffffff;
        height: auto; /* Change height to auto */
    }
    .HeroGrid > * {
        display: block; /* Change display of child elements to block */
        margin-bottom: 20px; /* Add some spacing between child elements */
    }
    ul.navbar {
      display: block; /* Change display to block */
      background-color: #ffffff;
      height: auto; /* Change height to auto */
  }
  ul.navbar li {
      display: block; /* Change display of li elements to block */
      margin-bottom: 10px; /* Add some spacing between columns */
  }
  .resumeImg{
    opacity: 0;
    transition: opacity 1s ease-in-out;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
  justify-content: center;
  }
}

  .card {
  border: 1px solid #ccc;
  border-radius: 20px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: calc(27% - 1rem);
  margin-right: 0.5rem;
  margin-bottom: 1rem;
}

.card-img-top {
  width: 100%;
  height: 200px;
}

.card-body {
  padding: 0.5rem;
}

.card-text {
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
  text-align: center;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1rem;
}
.foundation{
    width: 100%;
    overflow: hidden;
    max-height: 65rem;
}
  .subhead{
    background-color: #e8ac77;
    color:#ffffff;
    padding: 1rem;
    margin-top: 0rem;
    margin-bottom: 0rem;
    display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-family: "Poppins", sans-serif;
  }
  h5{
   display: flex;
      justify-content: space-between;
      align-items: normal;
      text-align: justify;
      font-size: 25px;
      font-family: Poppins;
      color:#32312f;
      font-weight: lighter;
      line-height: 2.5rem;
    }
    h6{
         font-size: 25px;
         font-family: Poppins;
         color: #0b2457;
         font-weight: lighter;
         line-height: 2.5rem;
         padding:3rem;
       }
       .click{
        align-items: center;
        text-align: center;
        justify-content: center;
        color: #0b2457;
        font-size: 20px;
        font-family: poppins;
       }
  h4{
    display: flex;
    justify-content:baseline;
    align-items:normal;
   text-align:justify;
    font-size: 30px;
    font-family: poppins;
    color:#0b2457;
    font-weight:200;
    line-height: 2.5rem;
    hover:#E1883C
  }
  h7{
    display: flex;
    justify-content:baseline;
    align-items:normal;
   text-align:justify;
    font-size: 25px;
    font-family: poppins;
    color:#0b2457;
    font-weight:100;
    line-height: 2.5rem;
  }
  .img-fluid{
padding:2rem;
padding-left: 4rem;
  }
  .col-sm-4{
    padding:5rem;
    color: #0b2457;
  }
  .researchgoals{
    display: flex;
    padding: 1rem;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  .img-fluids{
    max-width: 100%;
  }
  .subheader{
      display: flex;
      justify-content: space-between;
      align-items: normal;
      text-align:start;
  }
.row{
  padding: 5rem 0;
}
.container.text-center {
  padding: 0 2rem;
  max-width: 100%;
}
.image-containers {
  width: 100%;
  padding: 1.5rem 0;
  overflow: hidden;
}
.image-containers img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.foundationcontent{
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
}
ul.painpoint{
  text-align: justify;
  align-items: justify;
  justify-content: justify;
  line-height: 3rem;
  font-family:poppins;
  font-weight: 25px;
  padding: 3rem 0;
}
.casebody{
  max-width: 80%;
  justify-content: center;
  align-content: center;
  margin: 0 auto;
}